
fastapi
uvicorn[standard]
gunicorn

pydantic
pydantic-settings
python-dotenv

pymongo
dnspython

python-jose[cryptography]
passlib[bcrypt]
bcrypt

python-multipart
email-validator

typing-extensions
